name: Tests

on:
  push:
  pull_request:

jobs:

  Test-Java-17:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4.1.7
      - uses: ./.github/actions/setup
        with:
          java-version: 17
          cache-key: "test"
      - run: clojure -X:dev:test

  Test-Java-21:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4.1.7
      - uses: ./.github/actions/setup
        with:
          java-version: 21
          cache-key: "test"
      - run: clojure -X:dev:test


  Cloverage:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4.1.7
      - uses: ./.github/actions/setup
        with:
          java-version: 21
          cache-key: "cloverage"
      - run: clojure -X:dev:cloverage
      - name: Upload code coverage to codecov.io
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: target/coverage/codecov.json
          flags: cloverage
          name: codecov-umbrella
